*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(140, 182, 182);
    text-align: center;
    line-height: 2.1;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color:rgb(156, 46, 18);
}

@media (max-width: 768px){
    body{background-color:rgb(156, 207, 156);}
}

.grid{
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    gap: 15px;
    flex-wrap:wrap; 
}

.grid div{
    background-color: rgb(156, 186, 191);
    border-radius: 100px;
    padding: 7px;
    min-width: 80px;
}