*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(140, 182, 182);
    text-align: center;
    line-height: 2.1;
}

.hero img{
    border-radius: 50%;
}

.accent{
    color:rgb(156, 46, 18);
}